main section:nth-child(2) {
  padding-bottom: 50px;
}
main section:nth-child(2) h1 {
  padding-bottom: 14px;
}
.cards-container {
  grid-template-columns: repeat(2, 1fr);
}
.producer-container {
  display: grid;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  background-color: #111419;
  width: 80%;
}
.producer-container img {
  width: 420px;
}
.main-producer-container-text {
  padding-right: 20px;
}
.main-producer-container-text h2 {
  text-align: left !important;
  padding-top: 10px;
}
.main-producer-container-text h3 {
  text-align: left !important;
  margin-left: 0 !important;
}
.main-producer-container-text p {
  text-align: left !important;
  margin-left: 0 !important;
}
