* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 62.5%;
}

.timer {
  width: 100%;
  padding: 10px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  position: fixed;
  z-index: 1;
  background-color: #020202;
}
.timer h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: #f1f1f1;
}
.timer .timer-container {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.timer .timer-container .simply-section > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
}
.timer .timer-container .simply-amount {
  font-size: clamp(1.6rem, 8vw, 2rem);
  font-weight: 700;
  color: #ff6122;
  -webkit-animation: beat 1s linear 0s infinite normal forwards;
          animation: beat 1s linear 0s infinite normal forwards;
}
@-webkit-keyframes beat {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.95);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1.12);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
@keyframes beat {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.95);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1.12);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.timer .timer-container .simply-word {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 300;
  color: #f1f1f1;
}

header {
  width: 100%;
  height: 100%;
  padding-top: 18vh;
  background-image: url("/assets/images/background-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header h1 {
  font-size: clamp(2rem, 7vw, 2.8rem);
  font-weight: 700;
  color: #e5b332;
  text-align: center;
  padding: 14px 0;
}
header img {
  display: block;
  max-width: 720px;
  margin: 0 auto;
}
header p {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 400;
  line-height: 140%;
  color: #cbcdcc;
  text-align: center;
  padding: 15px;
  max-width: 760px;
  margin: 0 auto;
}

main section:first-child {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-image: url("/assets/images/background-solid.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main section:first-child h1 {
  font-size: clamp(2rem, 7vw, 2.8rem);
  font-weight: 700;
  color: #f1f1f1;
  text-align: center;
  padding: 30px 0 10px;
}
main .cards-container {
  top: -20px;
}
main .card {
  height: auto;
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid #212121;
  background-color: rgba(17, 20, 25, 0.8);
}
main .card1 {
  width: 70%;
  text-align: center;
  padding: 10px;
  border: 1px solid #e5b332;
  border-radius: 8px;
}
main .card1 h2 {
  font-size: clamp(1.6rem, 8vw, 2rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card1 img {
  width: clamp(60px, 20vw, 120px);
}
main .card1 h3 {
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card1 p {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 300;
  line-height: 140%;
  color: #cbcdcc;
  padding-bottom: 15px;
}
main .card1 button {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 2.5em;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: #020202;
  background-color: #f1f1f1;
}
main .card1 button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main .card1 button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
main .card1 button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
main .card1 button::after {
  background-color: #f1f1f1;
}
main .card1 button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
main .card2 {
  width: 70%;
  text-align: center;
  padding: 10px;
  border: 1px solid #e5b332;
  border-radius: 8px;
}
main .card2 h2 {
  font-size: clamp(1.6rem, 8vw, 2rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card2 img {
  width: clamp(60px, 20vw, 120px);
}
main .card2 h3 {
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card2 p {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 300;
  line-height: 140%;
  color: #cbcdcc;
  padding-bottom: 15px;
}
main .card2 button {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 2.5em;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: #020202;
  background-color: #f1f1f1;
}
main .card2 button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main .card2 button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
main .card2 button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
main .card2 button::after {
  background-color: #f1f1f1;
}
main .card2 button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
main .card3 {
  width: 70%;
  text-align: center;
  padding: 10px;
  border: 1px solid #e5b332;
  border-radius: 8px;
}
main .card3 h2 {
  font-size: clamp(1.6rem, 8vw, 2rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card3 img {
  width: clamp(60px, 20vw, 120px);
}
main .card3 h3 {
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card3 p {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 300;
  line-height: 140%;
  color: #cbcdcc;
  padding-bottom: 15px;
}
main .card3 button {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 2.5em;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: #020202;
  background-color: #f1f1f1;
}
main .card3 button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main .card3 button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
main .card3 button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
main .card3 button::after {
  background-color: #f1f1f1;
}
main .card3 button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
main .card4 {
  width: 70%;
  height: auto;
  text-align: center;
  padding: 10px;
  border: 1px solid #e5b332;
  border-radius: 8px;
}
main .card4 h2 {
  font-size: clamp(1.6rem, 8vw, 2rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card4 img {
  width: clamp(60px, 20vw, 120px);
}
main .card4 h3 {
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: #f1f1f1;
  padding: 5px 0;
}
main .card4 p {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 300;
  line-height: 140%;
  color: #cbcdcc;
  padding-bottom: 30px;
}
main .card4 button {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.6em 2.5em;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 700;
  color: #020202;
  background-color: #f1f1f1;
}
main .card4 button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
main .card4 button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
main .card4 button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
main .card4 button::after {
  background-color: #f1f1f1;
}
main .card4 button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
main .flickity-button {
  display: none;
}
main .flickity-page-dots {
  top: 107%;
}
main .flickity-page-dots .dot {
  background-color: #cbcdcc;
}
main section:nth-child(2) {
  height: 100%;
  background-image: url("/assets/images/background-market.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main section:nth-child(2) h1 {
  font-size: clamp(2rem, 7vw, 2.8rem);
  font-weight: 700;
  color: #f1f1f1;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0 10px;
}
main section:nth-child(2) img {
  display: block;
  margin: 0 auto;
}
main section:nth-child(2) h2 {
  font-size: clamp(2rem, 7vw, 2.8rem);
  font-weight: 700;
  color: #f1f1f1;
  text-align: center;
}
main section:nth-child(2) h3 {
  text-align: center;
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 1.6rem);
  color: #e5b332;
  padding-top: 15px;
  margin: 0 14px;
}
main section:nth-child(2) p {
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  font-weight: 300;
  line-height: 140%;
  color: #cbcdcc;
  text-align: center;
  padding: 15px 0 30px;
  margin: 0 14px;
}
main section:nth-child(3) {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-image: url("/assets/images/background-solid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main section:nth-child(3) h1 {
  font-size: clamp(2rem, 7vw, 2.8rem);
  font-weight: 700;
  color: #f1f1f1;
  text-align: center;
  padding: 30px 0 15px;
}
main section:nth-child(3) .questions-container {
  margin: 0 auto;
  width: 80%;
  max-width: 620px;
  height: auto;
  padding: 15px;
  border: 1px solid #e5b332;
  border-radius: 15px;
}
main section:nth-child(3) .questions-container details {
  font-size: clamp(1rem, 5vw, 1.6rem);
  font-weight: 400;
  margin: 12px;
  color: #f1f1f1;
  cursor: pointer;
}
main section:nth-child(3) .questions-container details summary {
  font-weight: 400;
}
main section:nth-child(3) .questions-container details summary::marker {
  color: #e5b332;
}
main section:nth-child(3) .questions-container details p {
  color: #cbcdcc;
  font-weight: 300;
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  line-height: 140%;
  text-align: justify;
  padding: 0 20px;
  margin: 8px 0 14px;
}

footer {
  background-color: #020202;
}
footer p {
  color: #f1f1f1;
  text-align: center;
  font-size: clamp(1.2rem, 4.2vw, 1.4rem);
  padding: 15px;
}/*# sourceMappingURL=main.css.map */