// GLOBAL RESET DEFAULT NAVIGATOR STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Font families
html {
  font-family: "Roboto", sans-serif;
}

// VARIABLES:

// Color palette
$just-black: #020202;
$dark-blue: #111419;
$just-gold: #e5b332;
$light-grey: #cbcdcc;
$just-white: #f1f1f1;

// Font sizes
body {
  font-size: 62.5%;
}

$size-lg: 3rem;
$size-xmd: 2rem;
$size-md: 1.4rem;
$size-sm: 1.2rem;

// Font weights
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

// Styling...
.timer {
  background-color: $just-black;
  padding: 12px 0;
  position: fixed;
  width: 100%;
  h2 {
    color: $just-white;
    text-align: center;
    padding-bottom: 4px;
    font-size: $size-md;
  }
  .timer-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .simply-section > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    color: $just-white;
  }

  .simply-seconds-section > div::after {
    display: none;
  }
  .simply-section .simply-amount {
    font: {
      weight: $weight-bold;
      size: 26px;
    }
    color: #ff6122;
  }
  .simply-seconds-section .simply-amount::after {
    display: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 120px;
  background-image: url("/assets/images/background-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h1 {
    color: $just-gold;
    text-align: center;
    font-size: $size-xmd;
  }
  img {
    width: 90%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
  }
  p {
    padding-top: 20px;
    max-width: 670px;
    text-align: center;
    color: $just-white;
    font-weight: 300;
    font-size: $size-sm;
    line-height: 140%;
    margin: 0 22px;
  }
}

main {
  section:first-child {
    height: 100vh;
    background-image: url("/assets/images/background-solid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
