// GLOBAL RESET DEFAULT NAVIGATOR STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Font families
html {
  font-family: "Roboto", sans-serif;
}

// VARIABLES:

// Color palette
$just-black: #020202;
$dark-blue: #111419;
$just-gold: #e5b332;
$light-grey: #cbcdcc;
$just-white: #f1f1f1;

// Font sizes
body {
  font-size: 62.5%;
}

$size-lg: clamp(2rem, 7vw, 2.8rem);
$size-xmd: clamp(1.6rem, 8vw, 2rem);
$size-md: clamp(1rem, 5vw, 1.6rem);
$size-sm: clamp(1.1rem, 4.6vw, 1.4rem);

// Font weights
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

// Styling...

// Functions
@mixin paragraph($color, $weight) {
  font-size: $size-sm;
  font-weight: $weight;
  line-height: 140%;
  color: $color;
}
@mixin title($color) {
  font-size: $size-lg;
  font-weight: $weight-bold;
  color: $color;
}

.timer {
  width: 100%;
  padding: 10px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  position: fixed;
  z-index: 1;
  background-color: $just-black;
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: $size-md;
    color: $just-white;
  }
  .timer-container {
    display: flex;
    justify-content: center;
    gap: 6px;
    .simply-section > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: $just-white;
      width: clamp(74px, 21vw, 100px);
      border-radius: 6px;
      animation: beat 1s linear 0s infinite normal forwards;
    }
    .simply-word {
      font-size: $size-sm;
      font-weight: $weight-light;
      color: $just-black;
    }
    .simply-amount {
      font-size: $size-xmd;
      font-weight: $weight-bold;
      color: #ff6122;
    }
    @keyframes beat {
      0% {
        animation-timing-function: ease-out;
        transform: scale(1);
        transform-origin: center center;
      }

      10% {
        animation-timing-function: ease-in;
        transform: scale(0.98);
      }

      17% {
        animation-timing-function: ease-out;
        transform: scale(1);
      }

      33% {
        animation-timing-function: ease-in;
        transform: scale(0.96);
      }

      45% {
        animation-timing-function: ease-out;
        transform: scale(1);
      }
    }
  }
}

header {
  width: 100%;
  height: 100%;
  padding-top: 16vh;
  background: {
    image: url("/assets/images/background-header.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }
  h1 {
    @include title($just-gold);
    text-align: center;
    padding: 14px 0;
  }
  img {
    display: block;
    max-width: 720px;
    margin: 0 auto;
  }
  p {
    @include paragraph($light-grey, $weight-regular);
    text-align: center;
    padding: 15px;
    max-width: 760px;
    margin: 0 auto;
  }
}

// SECTION #1
main {
  section:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 40px;
    background: {
      image: url("/assets/images/background-solid.jpg");
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    h1 {
      @include title($just-white);
      text-align: center;
      padding: 30px 0 10px;
    }
  }

  // cards-container
  .cards-container {
    top: -20px;
  }
  .cards-container::after {
    content: "flickity";
    display: none;
  }
  @media screen and (min-width: 481px) {
    /* disable Flickity for large devices */
    .cards-container:after {
      content: "";
    }
  }

  .card {
    width: 90%;
    height: 100%;
    max-width: 70%;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid #212121;
    background-color: rgba(17, 20, 25, 0.8);
  }

  .card1 {
    text-align: center;
    padding: 10px;
    border: 1px solid $just-gold;
    border-radius: 8px;
    h2 {
      font-size: $size-xmd;
      color: $just-white;
    }
    img {
      width: clamp(60px, 20vw, 80px);
    }
    h3 {
      font-size: $size-md;
      color: $just-white;
      padding: 5px 0;
    }
    p {
      @include paragraph($light-grey, $weight-light);
      padding-bottom: 15px;
    }
    button {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.6em 2.5em;
      margin-bottom: 5px;
      display: inline-block;
      border-radius: 6em;
      transition: all 0.2s;
      border: none;
      font-family: inherit;
      font-weight: $weight-bold;
      color: $just-black;
      background-color: $just-white;
    }
    button:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    button:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
    button::after {
      background-color: $just-white;
    }
    button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  .card2 {
    text-align: center;
    padding: 10px;
    border: 1px solid $just-gold;
    border-radius: 8px;
    h2 {
      font-size: $size-xmd;
      color: $just-white;
      padding: 5px 0;
    }
    img {
      width: clamp(60px, 20vw, 80px);
    }
    h3 {
      font-size: $size-md;
      color: $just-white;
      padding: 5px 0;
    }
    p {
      @include paragraph($light-grey, $weight-light);
      padding-bottom: 15px;
    }
    button {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.6em 2.5em;
      margin-bottom: 5px;
      display: inline-block;
      border-radius: 6em;
      transition: all 0.2s;
      border: none;
      font-family: inherit;
      font-weight: $weight-bold;
      color: $just-black;
      background-color: $just-white;
    }
    button:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    button:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
    button::after {
      background-color: $just-white;
    }
    button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  .card3 {
    text-align: center;
    padding: 10px;
    border: 1px solid $just-gold;
    border-radius: 8px;
    h2 {
      font-size: $size-xmd;
      color: $just-white;
      padding: 5px 0;
    }
    img {
      width: clamp(60px, 20vw, 80px);
    }
    h3 {
      font-size: $size-md;
      color: $just-white;
      padding: 5px 0;
    }
    p {
      @include paragraph($light-grey, $weight-light);
      padding-bottom: 15px;
    }
    button {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.6em 2.5em;
      margin-bottom: 5px;
      display: inline-block;
      border-radius: 6em;
      transition: all 0.2s;
      border: none;
      font-family: inherit;
      font-weight: $weight-bold;
      color: $just-black;
      background-color: $just-white;
    }
    button:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    button:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
    button::after {
      background-color: $just-white;
    }
    button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  .card4 {
    height: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid $just-gold;
    border-radius: 8px;
    h2 {
      font-size: $size-xmd;
      color: $just-white;
      padding: 5px 0;
    }
    img {
      width: clamp(60px, 20vw, 100px);
    }
    h3 {
      font-size: $size-md;
      color: $just-white;
      padding: 5px 0;
    }
    p {
      @include paragraph($light-grey, $weight-light);
      padding-bottom: 30px;
    }
    button {
      position: relative;
      font-size: 17px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.6em 2.5em;
      margin-bottom: 5px;
      display: inline-block;
      border-radius: 6em;
      transition: all 0.2s;
      border: none;
      font-family: inherit;
      font-weight: $weight-bold;
      color: $just-black;
      background-color: $just-white;
    }
    button:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    button:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    button::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
    }
    button::after {
      background-color: $just-white;
    }
    button:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  .flickity-button {
    display: none;
  }
  .flickity-page-dots {
    top: 107%;
    .dot {
      background-color: $light-grey;
    }
  }

  // SECTION #2
  section:nth-child(2) {
    height: 100%;
    background: {
      image: url("/assets/images/background-market.jpg");
      position: center;
      repeat: no-repeat;
      size: cover;
    }
    h1 {
      @include title($just-white);
      text: {
        align: center;
        transform: uppercase;
      }
      padding: 40px 0 10px;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    h2 {
      @include title($just-white);
      text-align: center;
    }
    h3 {
      text-align: center;
      font-weight: $weight-regular;
      font-size: $size-md;
      color: $just-gold;
      padding-top: 15px;
      margin: 0 14px;
    }
    p {
      @include paragraph($light-grey, $weight-light);
      text-align: center;
      padding: 15px 0 30px;
      margin: 0 14px;
    }
  }

  // SECTION #3
  section:nth-child(3) {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    background: {
      image: url("/assets/images/background-solid.jpg");
      repeat: no-repeat;
      size: cover;
      position: center;
    }
    h1 {
      @include title($just-white);
      text-align: center;
      padding: 30px 0 15px;
    }
    .questions-container {
      margin: 0 auto;
      width: 80%;
      max-width: 620px;
      height: auto;
      padding: 15px;
      border: 1px solid #e5b332;
      border-radius: 15px;
      details {
        font: {
          size: $size-md;
          weight: $weight-regular;
        }
        margin: 12px;
        color: $just-white;
        cursor: pointer;
        summary {
          font-weight: $weight-regular;
        }
        summary::marker {
          color: $just-gold;
        }
        p {
          color: $light-grey;
          font-weight: $weight-light;
          font-size: $size-sm;
          line-height: 140%;
          text-align: justify;
          padding: 0 20px;
          margin: 8px 0 14px;
        }
      }
    }
  }
}

footer {
  background-color: $just-black;
  p {
    color: $just-white;
    text-align: center;
    font-size: $size-sm;
    padding: 15px;
  }
}
