// GLOBAL RESET DEFAULT NAVIGATOR STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Font families
html {
  font-family: "Roboto", sans-serif;
}

// VARIABLES:

// Color palette
$just-black: #020202;
$dark-blue: #111419;
$just-gold: #e5b332;
$light-grey: #cbcdcc;
$just-white: #f1f1f1;

// Font sizes
body {
  font-size: 62.5%;
}

$size-lg: clamp(2rem, 7vw, 2.8rem);
$size-xmd: clamp(1.6rem, 8vw, 2rem);
$size-md: clamp(1rem, 5vw, 1.6rem);
$size-sm: clamp(1rem, 4.2vw, 1.4rem);

// Font weights
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

// Styling...
@mixin paragraph() {
  font-size: $size-sm;
  line-height: 140%;
  color: $light-grey;
}

.timer {
  width: 100%;
  height: 21vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  position: fixed;
  z-index: 1;
  background-color: $just-black;
  h2 {
    padding-top: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: $size-md;
    color: $just-white;
  }
  .timer-container {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding-bottom: 12px;
    .simply-section > div {
      display: flex;
      flex-direction: column;
      gap: 3px;
      text-align: center;
    }
    .simply-amount {
      font-size: $size-xmd;
      font-weight: $weight-bold;
      color: #ff6122;
    }
    .simply-word {
      font-size: $size-sm;
      font-weight: $weight-light;
      color: $just-white;
    }
  }
}

header {
  width: 100%;
  padding-top: 21vh;
  background: {
    image: url("/assets/images/background-header.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
    attachment: fixed;
  }
  h1 {
    text-align: center;
    font-size: $size-lg;
    color: $just-gold;
    padding: 14px 0;
  }
  img {
    display: block;
    max-width: 480px;
    margin: 0 auto;
  }
  p {
    @include paragraph();
    text-align: center;
    padding: 15px;
  }
}
