* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
}

.countdown-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #020202;
  display: grid;
  grid-column: 1/4;
  padding: 20px 0;
  gap: 5px;
}
.countdown-container h1 {
  color: #ff6122;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: clamp(1.6rem, 6vw, 2.06rem);
}
.countdown-container .countdown-style {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #f1f1f1;
  font-family: sans-serif;
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-style: italic;
  gap: 6px;
}
.countdown-container .countdown-style .simply-section > div {
  display: flex;
}

header {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  background-image: url("/assets/images/background-header.jpg");
  background-cover: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header .video-description {
  width: 90%;
  padding-left: 100px;
}
header .video-description h2 {
  font-family: sans-serif;
  font-size: clamp(1.4rem, 4vw, 2rem);
  color: #e5b332;
  padding: 0 0 40px 0;
}
header .video-description p {
  max-width: 80%;
  color: #f1f1f1;
  font-size: 1.08rem;
  font-family: sans-serif;
  line-height: 260%;
  letter-spacing: 0.8px;
}
header img {
  max-width: 90%;
}

main {
  width: 100%;
}
main section:first-child {
  height: 100vh;
  background-color: #020202;
}
main section:first-child h3 {
  color: #e5b332;
  font-family: sans-serif;
  font-size: clamp(1.6rem, 6vw, 2.06rem);
  text-transform: uppercase;
  text-align: center;
  padding: 120px 0 80px 0;
}
main section:first-child .social-media-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
main section:first-child .social-media-container .btn {
  font-family: "Inter", sans-serif;
  font-size: 1.08rem;
  letter-spacing: 2.3px;
}
main section:first-child .social-media-container .btn:link,
main section:first-child .social-media-container .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #e5b332;
  padding: 14px 34px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
}
main section:first-child .social-media-container .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
}
main section:first-child .social-media-container .btn:active {
  transform: translateY(-3px);
}
main section:first-child .social-media-container .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}
main section:first-child .social-media-container .btn:hover::after {
  background-color: rgb(197, 179, 38);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}
main section:first-child .social-media-container .instagram-card {
  width: 60%;
  text-align: center;
  font-family: sans-serif;
}
main section:first-child .social-media-container .instagram-card h4 {
  color: #f1f1f1;
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-transform: uppercase;
  margin-bottom: 20px;
}
main section:first-child .social-media-container .instagram-card p {
  color: #f1f1f1;
  font-size: 1.08rem;
  line-height: 200%;
  padding-bottom: 30px;
}
main section:first-child .social-media-container .instagram-card img {
  width: 80px;
  padding-bottom: 24px;
}
main section:first-child .social-media-container .tiktok-card {
  width: 60%;
  text-align: center;
  font-family: sans-serif;
}
main section:first-child .social-media-container .tiktok-card h4 {
  color: #f1f1f1;
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-transform: uppercase;
  margin-bottom: 20px;
}
main section:first-child .social-media-container .tiktok-card p {
  color: #f1f1f1;
  font-size: 1.08rem;
  line-height: 200%;
  padding-bottom: 30px;
}
main section:first-child .social-media-container .tiktok-card img {
  width: 90px;
  padding-bottom: 24px;
}
main section:first-child .social-media-container .youtube-card {
  width: 60%;
  text-align: center;
  font-family: sans-serif;
}
main section:first-child .social-media-container .youtube-card h4 {
  color: #f1f1f1;
  font-size: clamp(1.4rem, 4vw, 2rem);
  text-transform: uppercase;
  margin-bottom: 20px;
}
main section:first-child .social-media-container .youtube-card p {
  color: #f1f1f1;
  font-size: 1.08rem;
  line-height: 200%;
  padding-bottom: 30px;
}
main section:first-child .social-media-container .youtube-card img {
  width: 90px;
  padding-bottom: 24px;
}
main section:nth-child(2) {
  height: 90vh;
  background-image: url("/assets/images/background-section2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main section:nth-child(2) h3 {
  color: #e5b332;
  font-size: clamp(1.6rem, 6vw, 2.06rem);
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 100px 0 80px 0;
}
main section:nth-child(2) .about-producer-container {
  background-color: #020202;
  width: 70%;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 1fr;
  margin: 0 auto;
}
main section:nth-child(2) .about-producer-container img {
  width: 100%;
}
main section:nth-child(2) .about-producer-container .about-producer-text {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 30px;
  padding-bottom: 30px;
}
main section:nth-child(2) .about-producer-container .about-producer-text h4 {
  color: #f1f1f1;
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-family: sans-serif;
  padding-bottom: 30px;
}
main section:nth-child(2) .about-producer-container .about-producer-text h5 {
  color: #e5b332;
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 300;
  font-family: sans-serif;
  padding-bottom: 30px;
}
main section:nth-child(2) .about-producer-container .about-producer-text p {
  color: #f1f1f1;
  font-size: 1.08rem;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 200%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #020202;
  height: 10vh;
}
footer h6 {
  color: #f1f1f1;
  text-align: center;
  font-size: 1.08rem;
  font-family: sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  header nav .countdown-style {
    text-align: center;
  }
  header nav .countdown-style .simply-section > div {
    width: clamp(74px, 21vw, 100px);
    font-style: normal;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    color: #020202;
    border-radius: 6px;
    padding: 4px 36px;
  }
  header nav .countdown-style .simply-section > div .simply-amount {
    font-weight: bold;
    font-size: clamp(1.4rem, 4vw, 2rem);
    font-family: "Inter", sans-serif;
  }
  header nav .countdown-style .simply-section > div .simply-word {
    font-size: 1.08rem;
    font-family: "Inter", sans-serif;
    font-weight: 300;
  }
  header .video-description {
    text-align: center;
    padding: 0;
  }
  header .video-description h2 {
    width: 100%;
    padding: 50px 0 20px 0;
  }
  header .video-description p {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  main section:first-child {
    height: 100%;
    padding-bottom: 80px;
  }
  main section:first-child .social-media-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  main section:first-child .social-media-container .social-media-card p {
    max-width: 80%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */