// Reset browser styles...

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Use converted REM size

body {
  font-size: 62.5%;
}

// =============
// SET VARIABLES
// =============

// Color palette

$just-yellow: #e5b332;
$just-orange: #ff6122;
$just-white: #f1f1f1;
$just-black: #020202;

// Font Family

$family-bebasNeue: "Bebas Neue", cursive;
$family-inter: "Inter", sans-serif;
$family-sans: sans-serif;

// Font Sizes

// Conversion: 1rem = 10px
$size-lg: clamp(2rem, 4vw, 2.5rem);
$size-md: clamp(1.8rem, 4vw, 2rem);
$size-sm: clamp(1.08rem, 5vw, 1.25rem);

// =============
// Countdown Styles...
// =============

.countdown-container {
  width: 100%;
  height: fit-content;
  background-color: $just-black;
  display: grid;
  grid-column: 1 / 4;
  padding: 20px 0;
  gap: 5px;
  h1 {
    color: $just-orange;
    text-align: center;
    font-family: $family-bebasNeue;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
  }
  .countdown-style {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $just-white;
    font-family: $family-sans;
    font-size: clamp(1.4rem, 4vw, 2rem);
    font-style: italic;
    gap: 6px;
    .simply-section > div {
      display: flex;
      margin: 0 4px;
    }
    .simply-amount {
      margin-right: 6px;
    }
    @media screen and (min-width: 768px) {
      .simply-section:first-child > div::after,
      .simply-section:nth-child(2) > div::after,
      .simply-section:nth-child(3) > div::after {
        content: ",";
      }
    }
  }
}

// =============
// HEADER Styles...
// =============

header {
  width: 100%;
  display: grid;
  align-items: flex-start;
  height: 100vh;
  background: {
    image: url("/assets/images/background-header.jpg");
    cover: center;
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
  .video-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    .video-description {
      padding-left: 80px;
      h2 {
        font-family: $family-sans;
        font-size: clamp(2rem, 4vw, 3rem);
        color: $just-yellow;
        padding: 0 0 60px 0;
      }
      p {
        max-width: 80%;
        color: $just-white;
        font-size: $size-sm;
        font-family: $family-sans;
        line-height: 260%;
        letter-spacing: 0.8px;
      }
    }
    img {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

// =================
// MAIN Styles...
// =================

main {
  width: 100%;

  // SECTION #1
  section:first-child {
    height: 100%;
    padding-bottom: 150px;
    background-color: $just-black;
    h3 {
      color: $just-yellow;
      font-family: $family-sans;
      font-size: $size-lg;
      text-transform: uppercase;
      text-align: center;
      padding: 120px 0 100px 0;
    }
    // social media cards
    @mixin socialMediaCardStyle() {
      width: 60%;
      text-align: center;
      font-family: $family-sans;
      h4 {
        color: $just-white;
        font-size: $size-md;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        color: $just-white;
        font-size: $size-sm;
        line-height: 200%;
        padding-bottom: 30px;
      }
    }

    .social-media-container {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);

      .btn {
        font-family: $family-inter;
        font-size: $size-sm;
        letter-spacing: 2.3px;
      }
      .btn:link,
      .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        color: $just-yellow;
        padding: 14px 34px;
        border: 1px solid;
        border-radius: 1000px;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
      }

      .btn:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
      }

      .btn:active {
        transform: translateY(-3px);
      }

      .btn::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        transition: all 0.3s;
      }

      .btn:hover::after {
        background-color: rgb(197, 179, 38);
        transform: scaleX(1.4) scaleY(1.5);
        opacity: 0;
      }

      .instagram-card {
        @include socialMediaCardStyle();
        img {
          width: 80px;
          padding-bottom: 24px;
        }
      }

      .tiktok-card {
        @include socialMediaCardStyle();
        img {
          width: 90px;
          padding-bottom: 24px;
        }
      }
      .youtube-card {
        @include socialMediaCardStyle();
        img {
          width: 90px;
          padding-bottom: 24px;
        }
      }
    }
  }

  // SECTION #2
  section:nth-child(2) {
    height: 100%;
    padding-bottom: 60px;
    background: {
      image: url("/assets/images/background-section2.jpg");
      repeat: no-repeat;
      size: cover;
      position: center;
      attachment: fixed;
    }
    h3 {
      color: $just-yellow;
      font-size: $size-lg;
      font-family: $family-sans;
      text-align: center;
      text-transform: uppercase;
      padding: 80px 0 80px 0;
    }
    .about-producer-container {
      background-color: $just-black;
      width: 90%;
      display: grid;
      align-items: center;
      grid-template-columns: 30% 1fr;
      margin: 0 auto;
      border-radius: 8px;
      img {
        width: 100%;
      }
      .about-producer-text {
        padding: {
          top: 30px;
          left: 40px;
          right: 30px;
          bottom: 30px;
        }
        h4 {
          color: $just-white;
          font-size: $size-md;
          font-family: $family-sans;
          padding-bottom: 30px;
        }
        h5 {
          color: $just-yellow;
          font-size: $size-md;
          font-weight: 300;
          font-family: $family-sans;
          padding-bottom: 30px;
        }
        p {
          color: $just-white;
          font-size: $size-sm;
          font-weight: 300;
          font-family: $family-sans;
          line-height: 200%;
        }
      }
    }
  }
}

// =================
// FOOTER Styles...
// =================

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $just-black;
  height: 10vh;
  h6 {
    color: $just-white;
    text-align: center;
    font-size: $size-sm;
    font-family: $family-sans;
    font-weight: 300;
  }
}

// =================
// RESPONSIVE DESIGN
// =================

@media screen and (max-width: 768px) {
  header {
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    padding-bottom: 80px;
    nav {
      .countdown-style {
        text-align: center;
        .simply-section > div {
          width: clamp(74px, 21vw, 100px);
          font-style: normal;
          flex-direction: column;
          align-items: center;
          background-color: $just-white;
          color: $just-black;
          border-radius: 6px;
          padding: 4px 36px;
          margin: 0 !important;
          .simply-amount {
            color: $just-orange !important;
            font-weight: bold;
            font-size: $size-md;
            font-family: $family-inter;
            margin: 0 !important;
          }
          .simply-word {
            font-size: clamp(1rem, 4vw, 1.25rem);
            font-family: $family-inter;
            font-weight: 300;
          }
        }
      }
    }
    .video-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0;
      .video-description {
        padding: 0;
        h2 {
          width: 100%;
          padding: 50px 0 20px 0;
        }
        p {
          width: 100%;
          margin: 0 auto;
          padding-bottom: 30px;
        }
      }
    }
  }
  main {
    section:first-child {
      height: 100%;
      padding-bottom: 80px;
      .social-media-container {
        display: flex;
        flex-direction: column;
        gap: 120px;
        .social-media-card {
          p {
            margin: 0 auto;
          }
        }
      }
    }
    section:nth-child(2) {
      h3 {
        padding: 60px 0 40px 0;
      }
      .about-producer-container {
        display: flex;
        flex-direction: column;
        img {
          width: 60%;
        }
        .about-producer-text {
          text-align: center;
        }
      }
    }
  }
}
